{% extends "::base.html.twig" %}
{% block  body  %}
    <!-- Heroo-->

    <div id="hero-container">
        <ul class="cb-slideshow">
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
        </ul>
        <div class="home-header">
            <div class="home-logo osLight"><span class="fa fa-home"></span></div>
            <a href="#" class="home-navHandler visible-xs"><span class="fa fa-bars"></span></a>
            <div class="home-nav">
                <ul>
                    <li><a href="#" class="btn btn-green" data-toggle="modal" data-target="#Connexion">Connexion</a></li>
                    <li><a href="#" class="btn btn-green" data-toggle="modal" data-target="#Inscription">Inscription</a></li>
                    <li></li>
                </ul>
            </div>
        </div>
        {% for offre in res.offres %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top: 10%;">
            <a href="{{ path('offre_show',{'id' : offre.id }) }}" class="propWidget-2" style="width: 60%;">
                <div class="fig">
                    <img src="/agance/web/images/prop/1-1.png" alt="type">
                    <img class="blur" src="/agance/web/images/prop/1-1.png" alt="type">
                    <div class="opac"></div>
                    <div class="priceCap osLight"><span>{{ offre.prix }}</span></div>
                    <div class="figType"></div>
                    <h3 class="osLight">{{ offre.type}}</h3>
                    <div class="address">{{ offre.lieu }}</div>

                </div>
            </a>
        </div>
       {% endfor %}
        <div class="search-panel">
          <form action="{{ path('recherche_index',{'chambre':res.chambre}) }}" method="get" class="form-inline" role="form">

                
                <div class="form-group  adv btn btn-white dropdown-toggle">
                    <input list="chambrelist" type="text" name="chambre" value="{{res.chambre}}" class="search-optimus" placeholder="Nbre Chambres">
                    <datalist id="chambrelist" class="select">
                        <option value="1">
                        <option value="2">
                        <option value="3">
                        <option value="4">
                        <option value="5">

                    </datalist>
                   

                </div>
                    <div class="form-group  adv btn btn-white dropdown-toggle">
                    <input list="etagelist" type="text" name="etage" value="{{res.etage}}" class="search-optimus" placeholder="N° etage">
                    <datalist id="etagelist" class="select">
                        <option value="1">
                        <option value="2">
                        <option value="3">
                        <option value="4">
                        <option value="5">

                    </datalist>
                   

                </div>
                    <div class="form-group  adv btn btn-white dropdown-toggle">
                    <input list="typliste" type="text" name="type" value="{{res.type}}" class="search-optimus" placeholder="Type">
                    <datalist id="typliste" class="select">
                        <option value="location">
                        <option value="vente">
                        

                    </datalist>
                   

                </div>
                    <div class="form-group  adv btn btn-white dropdown-toggle">
                    <input  type="text" name="prix" value="{{res.prix}}" class="search-optimus" placeholder="Prix">
                </div>

                {#<div class="form-group hidden-xs adv">
                    <a href="#" data-toggle="dropdown" class="btn btn-white dropdown-toggle">
                        <span class="dropdown-label">Etage</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-select">
                        <li class="active"><input type="radio"  name="bathno" checked="checked"><a href="#">Salle de bain</a></li>
                        <li><input value="{{res.etage}}" type="radio" name="etage"><a href="#">1</a></li>
                        <li><input value="{{res.etage}}" type="radio" name="etage"><a href="#">2</a></li>
                        <li><input  value="{{res.etage}}" type="radio" name="etage"><a href="#">3</a></li>
                        <li><input value="{{res.etage}}" type="radio" name="etage"><a href="#">4</a></li>
                    </ul>

                </div>
                <div class="form-group hidden-xs adv">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input class="form-control price" type="text" value="{{res.prix}}" placeholder="À partir de">
                    </div>
                </div>
                
                <div class="form-group hidden-xs adv">
                    <div class="checkbox custom-checkbox"><label><input  value="{{res.type}}" type="checkbox"><span class="fa fa-check"></span> À Louer</label></div>
                </div>
                <div class="form-group hidden-xs adv">
                    <div class="checkbox custom-checkbox"><label><input value="{{res.type}}" type="checkbox"><span class="fa fa-check"></span> À Vendre</label></div>
                </div>#}
                <div class="form-group">
                    <button  type="submit" value="Submit" class="btn btn-green">Recherche</button>

                </div>
            </form>
        </div>
    </div>
   
    <!-- Content -->





    <!-- Footer -->

    <div class="home-footer">
        <div class="home-wrapper">              
            <div class="copyright"><br> &copy; 2015</div>
        </div>
    </div>

    <div class="modal fade" id="Connexion" role="dialog" aria-labelledby="signinLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="signinLabel">Connexion</h4>
                </div>
                <div class="modal-body">



                    {% trans_default_domain 'FOSUserBundle' %}



                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate')}}" />

                        <div class="form-group">
                            <input type="text" placeholder="Address email or UserName" class="form-control" id="username" name="_username" value="" required="required" >
                        </div>
                        <div class="form-group">
                            <input  id="password" name="_password" required="required"  type="password" placeholder="Mot de passe" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" id="remember_me" name="_remember_me" value="on"><span class="fa fa-check"></span> Remember me</label></div>
                                </div>
                                <div class="col-xs-6 align-right">
                                    <p class="help-block"><a href="#" class="text-green">Mot de passe oublier?</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-group-justified">
                                <input style="width: 41%;margin-left: 24%;" type="submit" id="_submit" name="_submit" value="Connexion" class="btn btn-lg btn-green"/>

                            </div>
                        </div>
                        <p class="help-block">Vous n'avez pas un compte? <a href="#" class="modal-su text-green">Inscription</a></p>

                    </form>



                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Inscription" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="signupLabel">Inscription</h4>
                </div>
                <div class="modal-body">
                    {{ render (controller('AgenceFrontBundle:Registration:register')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block  javascript  %}
    <script>

        $("#fos_user_registration_form_profil").change(function() {

            var test = $('#fos_user_registration_form_profil').val();
            if (test == 'Client') {
                $('#champ').hide();
            } else {
                $('#champ').show();
            }
        });
    </script>
{% endblock %}
