{% extends "AgenceFrontBundle::layout_standar.html.twig" %}
{% block body %}
    <div id="wrapper">
        <input style="width: 50%;" type="text" class="form-control" id="pac-input2" placeholder="Entrer ici votre région" autocomplete="on" size="60">
        <div id="content" class="mob-max" >

            <div class="col-lg-12"><div class="row mb20">
                </div>
                <div class="row">

                    <div class="rightContainer">
                        <h3>Listes des Favoris</h3>
                        <div class="row">
                            {% for offre in offres %}
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="card">
                                        <div class="figure"><a href="{{ path('offre_show',{'id' : offre.offre.id }) }}">
                                                <img src="{{ asset('images/prop/1-1.png') }}" alt="image">
                                                <div class="figCaption">
                                                    <div>${{ offre.offre.prix}}</div>
                                                    <span class="icon-eye"> 200</span>
                                                    <span class="icon-heart"> 54</span>
                                                    <span class="icon-bubble"> 13</span>
                                                </div>
                                                <div class="figView"><span class="icon-eye"></span></div>
                                                <div class="figType">{{ offre.offre.type }}</div>
                                            </a> </div>
                                        <h2>{{ offre.offre.titre }}</h2>
                                        <div class="cardAddress"><span class="icon-pointer"></span> {{ offre.offre.lieu }}</div>
                                        <div class="cardRating">
                                            {% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : offre.id } %}

                                        </div>

                                        <ul class="cardFeat">
                                            <li><span class="fa fa-moon-o"></span> 3</li>
                                            <li><span class="icon-drop"></span> 2</li>
                                            <li><span class="icon-frame"></span> 3430 m&#178;</li>
                                           
                                            <li style="margin-left: 4%;"><a  class="btn btn-o btn-yellow active" href="#" >
                                                    <span class="fa fa-star-o state"></span><span>favoris</span>
                                                    <span class="fa fa-star text-white state-active"></span>
                                                </a>
                                            </li>
                                          
                                        </ul>
                                        <div class="clearfix"></div>

                                    </div>

                                </div>
                                            {% endfor %}


                        </div>

                    </div>


                </div>
            </div>

        </div>
        <div id="map-offre-add" style="height: 100%" class="mob-min"></div>

    </div>

{% endblock %}

{% block javascript %}
    <script>
        {% for offre in offres %}
            $('#ajouterFavoris{{offre.offre.id}}').click(function(){
               $('#loaderfavoris{{offre.offre.id}}').show();
                $('#ajouterFavoris{{offre.offre.id}}').hide();
           
                    var id = "{{offre.offre.id}}";
                    $.ajax({
                    type: "POST",
                            url: "{{path('add_favoris')}}",
                            data: {id:id},
                            dataType: 'json',
                            success: function () {

                           $('#loaderfavoris{{offre.offre.id}}').hide();
                           $('#hidid{{offre.offre.id}}').show();
                            }
                    });
                     });
           {% endfor %}
    </script>
    <script>

                function initialize() {
                var mapOptions = {
                center: {lat: - 34.397, lng: 150.644},
                        zoom: 15
                };
                var infobox = new InfoBox({
        disableAutoPan: false,
        maxWidth: 202,
        pixelOffset: new google.maps.Size(-101, -285),
        zIndex: null,
        boxStyle: {
            background: "url('/agance/web/images/infobox-bg.png') no-repeat",
            opacity: 1,
            width: "202px",
            height: "245px"
        },
        closeBoxMargin: "28px 26px 0px 0px",
        closeBoxURL: "",
        infoBoxClearance: new google.maps.Size(1, 1),
        pane: "floatPane",
        enableEventPropagation: false
    });
                        var markerevent;
                        var geocoder;
                        geocoder = new google.maps.Geocoder();
                        var mapAddOf = new google.maps.Map(document.getElementById('map-offre-add'),
                                mapOptions);
                        if (navigator.geolocation) {

                navigator.geolocation.getCurrentPosition(function(position) {

                var posOffre = new google.maps.LatLng(position.coords.latitude,
                        position.coords.longitude);
                        var newMarker = new google.maps.Marker({
                        position: posOffre,
                                map: mapAddOf,
                                icon: new google.maps.MarkerImage('/agance/web/images/marker-red.png'),
                                draggable: false,
                                animation: google.maps.Animation.DROP

                        });
                        mapAddOf.setCenter(posOffre);
                }, function() {
                handleNoGeolocation(true);
                });
                } else {
                handleNoGeolocation(false);
                }
                {% for offre in offres %}

                                                var myLatLng = new google.maps.LatLng({{offre.offre.lat}}, {{offre.offre.lng}});
                                                        var marker_{{ offre.offre.id}} = new google.maps.Marker({
                                                        position: myLatLng,
                                                                map: mapAddOf,
                                                                icon: new google.maps.MarkerImage('/agance/web/images/marker-green.png'),
                                                                draggable: false,
                                                                animation: google.maps.Animation.DROP,
                                                                title: "Cliquez pour voir aperçu"
                                                        });
                                                        
                                                            var contenuInfoBulle_{{offre.offre.id}} =  '<div class="infoW">' +
                                    '<div class="propImg">' +
                                        '<img src="/agance/web/images/prop/1-1.png">' +
                                        '<div class="propBg">' +
                                            '<div class="propPrice">${{offre.offre.prix}}</div>' +
                                            '<div class="propType">{{offre.offre.type}}</div>' +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="paWrapper">' +
                                        '<div class="propTitle">{{offre.offre.titre}}</div>' +
                                        '<div class="propAddress">{{offre.offre.lieu}}</div>' +
                                    '</div>' +
                                    '<div class="propRating">' +
                                        '<span class="fa fa-star"></span>' +
                                        '<span class="fa fa-star"></span>' +
                                        '<span class="fa fa-star"></span>' +
                                        '<span class="fa fa-star"></span>' +
                                        '<span class="fa fa-star-o"></span>' +
                                    '</div>' +
                                    '<ul class="propFeat">' +
                                        '<li><span class="fa fa-moon-o"></span> {{offre.offre.nbrchambre}}</li>' +
                                        '<li><span class="icon-drop"></span>{{offre.offre.etage}}</li>' +
                                        '<li><span class="icon-frame"></span> {{offre.offre.surface}}</li>' +
                                    '</ul>' +
                                    '<div class="clearfix"></div>' +
                                    '<div class="infoButtons">' +
                                        '<a class="btn btn-sm btn-round btn-gray btn-o closeInfo">Close</a>' +
                                        '<a href="{{ path('offre_show',{'id': offre.offre.id})}}" class="btn btn-sm btn-round btn-green viewInfo">View</a>' +
                                    '</div>' +
                                 '</div>';

                                                                   
                                                            google.maps.event.addListener(marker_{{offre.offre.id}}, 'click', function() {
                                                            
                                                            infobox.setContent(contenuInfoBulle_{{offre.offre.id}});
                                                                    infobox.open(mapAddOf, marker_{{offre.offre.id}});
                                                            });
                                                            $(document).on('click', '.closeInfo', function() {
                                                    infobox.open(null, null);
                                                    });
                                                            
                                                       {% endfor %}
                var input = (document.getElementById('pac-input2'));
                        mapAddOf.controls[google.maps.ControlPosition.TOP_CENTER].push(input);
                        var searchBox = new google.maps.places.SearchBox((input));
                        google.maps.event.addListener(searchBox, 'places_changed', function() {
                        var places = searchBox.getPlaces();
                                if (places.length == 0) {
                        return;
                        }

                        markers = [];
                                var bounds = new google.maps.LatLngBounds();
                                for (var i = 0, place; place = places[i]; i++) {
                        var image = {
                        url: place.icon,
                                size: new google.maps.Size(71, 71),
                                origin: new google.maps.Point(0, 0),
                                anchor: new google.maps.Point(17, 34),
                                scaledSize: new google.maps.Size(25, 25)
                        };
                                bounds.extend(place.geometry.location);
                        }

                        mapAddOf.fitBounds(bounds);
                                mapAddOf.setZoom(15);
                        });
                        google.maps.event.addListener(mapAddOf, 'bounds_changed', function() {
                        var bounds = mapAddOf.getBounds();
                                searchBox.setBounds(bounds);
                        });
                }
        google.maps.event.addDomListener(window, 'load', initialize);



    </script>
{% endblock %}
