{% extends "AgenceFrontBundle::layout_standar.html.twig" %}
{% block body %}
    <div id="wrapper">
        <input style="width: 50%;" type="text" class="form-control" id="pac-input2" placeholder="Entrer ici votre région" autocomplete="on" size="60">
        <div id="content" class="mob-max" >

            <div class="col-lg-12"><div class="row mb20">
                </div>
                <div class="row">

                    <div class="rightContainer">
                    <h1>Ajouter Offre</h1>
                    <form action="{{ path('add-offre')}}" {{ form_enctype(form) }} method='post' role="form">
                        {{ form_errors(form) }}
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="form-group">
                                    <label>Titre de l'offre</label>
                                    {{ form_widget(form.titre, {'attr' : {'class':'form-control'} }) }}
                                   
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Prix</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        {{ form_widget(form.prix, {'attr' : {'class':'form-control'} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                             {{ form_widget(form.description, {'attr' : {'class':'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            <label>Addresse <span id="latitude" class="label label-default"></span> <span id="longitude" class="label label-default"></span></label>
                          
                            {{ form_widget(form.lieu, {'attr' : {'class':'form-control', 'readonly' : 'readonly'} }) }}
                            <p class="help-block">Vous pouvez faire glisser le marqueur à la position de l'offre</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label>Chambres</label>
                                     {{ form_widget(form.nbrChambre, {'attr' : {'class':'form-control'} }) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label>Etage</label>
                                     {{ form_widget(form.etage, {'attr' : {'class':'form-control'} }) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label>Surface</label>
                                    <div class="input-group">
                                        {{ form_widget(form.surface, {'attr' : {'class':'form-control'} }) }}
                                        <div class="input-group-addon">m&#178;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="btn-group">
                                    <label>Type</label>
                                   {{ form_widget(form.type, {'attr' : {'class':'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                      
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Type du terrain</label>
                                    {{ form_widget(form.typeTerrain, {'attr' : {'class':'form-control'} }) }}
                                </div>
                            </div>
                            
                        </div>
                                 <div class="row" style='display: none'>
                                   {{ form_widget(form.lat, {'attr' : {'class':'cacher','id':'lat_id'} }) }}
       
                                    {{ form_widget(form.lng, {'attr' : {'class':'cacher','id':'lng_id'} }) }}
                                  </div>
                            
                             <div class="form-group"style="text-align: center">
                            <button  type="submit" value="Submit" class="btn btn-green btn-lg">Enregistrer</button>
                            <button type="reset" value="Reset" class="btn btn-gray btn-lg">Reset</button>
                        </div>
                        {{ form_widget(form._token) }}
                         {{ form_rest(form) }}
                       
                    </form>
                </div>
                   
                </div>
            </div>

        </div>
        <div id="map-offre-add" style="height: 100%" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div> </div>

    </div>

{% endblock %}

{% block javascript %}

    <script>

        function initialize() {
            var mapOptions = {
                center: {lat: -34.397, lng: 150.644},
                zoom: 15
            };
            var markerevent;
            var geocoder;
            geocoder = new google.maps.Geocoder();
            var mapAddOf = new google.maps.Map(document.getElementById('map-offre-add'),
                    mapOptions);

            if (navigator.geolocation) {

                navigator.geolocation.getCurrentPosition(function(position) {

                    var posOffre = new google.maps.LatLng(position.coords.latitude,
                            position.coords.longitude);
                    var newMarker = new google.maps.Marker({
                        position: posOffre,
                        map: mapAddOf,
                        icon: new google.maps.MarkerImage('/agance/web/images/marker-red.png'),
                        draggable: false,
                        animation: google.maps.Animation.DROP

                    });
                    mapAddOf.setCenter(posOffre);

                    google.maps.event.addListener(mapAddOf, 'click', function(event) {


                        document.getElementById('agence_bundle_frontbundle_offre_lat').value = event.latLng.lat();
                        document.getElementById('agence_bundle_frontbundle_offre_lng').value = event.latLng.lng();
                        //latlng = event.latLng;
                        var latlng = new google.maps.LatLng(event.latLng.lat(), event.latLng.lng());
                        //latlng = event.latLng;
                        
                        geocoder.geocode({
                            'latLng': latlng
                        }, function(results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                if (results[0]) {
                                    document.getElementById('agence_bundle_frontbundle_offre_lieu').value = results[0].formatted_address;
                                    placeMarker(event.latLng);
                                } else {
                                    alert('No results found');
                                }
                            } else {
                                alert('Geocoder failed due to: ' + status);
                            }

                        });

                    });
                    function placeMarker(location) {

                        if (markerevent === undefined) {
                            markerevent = new google.maps.Marker({
                                position: location,
                                map: mapAddOf,
                                draggable: true,
                                animation: google.maps.Animation.DROP,
                            });
                            markerevent.setIcon('/agance/web/images/marker-green.png');
                        }
                        else {
                            markerevent.setPosition(location);
                        }
                    }

                }, function() {
                    handleNoGeolocation(true);
                });
            } else {
                handleNoGeolocation(false);
            }

            var input = (document.getElementById('pac-input2'));
            mapAddOf.controls[google.maps.ControlPosition.TOP_CENTER].push(input);
            var searchBox = new google.maps.places.SearchBox((input));
            google.maps.event.addListener(searchBox, 'places_changed', function() {
                var places = searchBox.getPlaces();
                if (places.length == 0) {
                    return;
                }

                markers = [];
                var bounds = new google.maps.LatLngBounds();
                for (var i = 0, place; place = places[i]; i++) {
                    var image = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };
                    bounds.extend(place.geometry.location);
                }

                mapAddOf.fitBounds(bounds);
                mapAddOf.setZoom(15);
            });
            google.maps.event.addListener(mapAddOf, 'bounds_changed', function() {
                var bounds = mapAddOf.getBounds();
                searchBox.setBounds(bounds);
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);



    </script>
{% endblock %}
